.DS_Store
*.sdef
*.out
notes/

# generated c src files
c_src/Messages.h

# Mix artifacts
/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
imessaged-*.tar
/tmp/

# Objective-C / NIF artifacts
# *.h
*.so
*.o
*.dylib
*.a
*.la
*.lo
*.bundle
*.framework
*.xcodeproj
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/
DerivedData/
.build/
.clangd
